.logo{
height: 32px;
width: 32px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    /* didnot work without important, it is required for input fields i.e here search bar */
    background-color:#C7D1D8 !important;
}

.nav-icon-text {
    display: block;
    color: #C7D1D8;
    font-size: 12px;
    text-align: center;
    padding: 0;
  }

  .nav-item{
    display: block;
    text-align: center;
    margin: -15px 0px -15px 0px;
    padding: 0px 5px 0px 5px;
  }
  
  .navbar{
      background-color: #283E4A;
  }

  .iconColour{
      color:#C7D1D8;
  }

  .orangeText{
      color:#DCCEA4;
  }

  .borderLeft{
      border-left : 0.5px solid #C7D1D8;
      padding: 0px 5px 0px 5px;

  }
  .borderRight{
    border-right : 0.5px solid #C7D1D8;
    padding: 0px 5px 0px 5px;
}
