
.borderVin{
    border: 1px solid #e40808;
}

.Feeds{
    background-color: #ffffff;
    
    margin:30px 0px 10x 0px;
    border:1px solid #7c7b7b;
    
    /*padding-bottom:30px;*/
}
.free-space{
    height: 30px;
  }
.wchange{
    padding-right: 20px;
}

.container1 img{
    width: 95%;
    height: auto;
    margin-top: 10px;     
}
.container2 img{
    width: 80%;
    height: auto;
    margin-top: 10px;     
}

.coverPic1{
    height: 50px;
    width: auto;
    background-image: url("../images/coverPic.svg");
    background-size: cover;
    }
.profilePic1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    background-image: url('../images/user.png');
    /*background-position: center center;*/
    background-size: cover;
    border: 5px solid white;
    margin-top: -40px;
    margin-left: 120%;
    } 

.textSmall{
    font-size: 13px;
}