.borderMe{
    /* border : 1px solid black; */
}

.coverPic{
height: 200px;
width: auto;
background-image: url("../images/coverPic.svg");
background-size: cover;
}

.profileSection{
    padding-left:20px;
}

.profilePic img{
width: 160px;
height: 160px;
border-radius: 50%; 
background-image: url('../images/user.png');
background-position: center;
background-size: cover;
border: 5px solid white;
margin-top: -80px;
margin-left: 40px;
}   

.borderRed{
     /* border:1px solid red;  */
}

.marginRight{
    margin-right: 20px;
}

.marginRight2{
    margin-right: 40px;
}

.marginTop{
    margin-top:10px;
}

.editIcon{
    color: #0073B1;
    font-size: 20px;
    padding: 10px;
    z-index:1;
}
.zoomMe :hover{
    border:1px solid #0073B1;
    border-radius: 50%;
}

.cursorMe :hover{
    cursor: pointer;
}

.profileIcons{
    color: #636161;
    font-size: 18px;
}

.profileCard{
    background-color: #ffffff;
    margin:30px 0px 10px 0px;
    border:0.5px solid #7c7b7b;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding-bottom:30px;
}

.profileCard .insideCard{
    margin:40px 20px 0px 15px;
}

.profilePageBody{
    background-color: #f5f5f5;
}

.dummyImage1{
    height: 400px;
    width:auto;
    margin-left:10px; 
    margin-top:30px; 
}

.dummyImage2{
    height: 300px;
    width:auto;
    margin-left:10px; 
}

.marginLeft{
    margin-left: 10px;
}

.profileSection .btn-primary{
background-color: #0073b1;
}
.profileSection .btn-primary:hover{
    background-color: #006097;
}

.profileSection .btn{
    border-radius:2px;
}

.dashboardCard{
   
}

.viewsCard{
    position: relative;
    background-color: white;
    margin:30px 30px 30px 30px;
    padding-bottom: 30px; 
    border:1px solid #7c7b7b;
    box-shadow: 5px 5px 5px #aaaaaa;
    color:black;
    z-index:2;
}

.dashboardBg{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;;
    top:0;
    left:0;
    z-index:1;
}

.expImg{
    height:100px;
    width:auto;
}

.paddingTop{
padding-top:20px;
}

.paddingRight{
    padding-right: 20px;
}

.paddingLeft{
    padding-left:20px;
}

.skills{
    width:auto;
    padding-bottom: 4px;
    border-bottom : 0.5px solid black;
}

.paddingBottom{
    padding-bottom: 30px;
}

/* NO SPACE : TO CUSTOMIZE BOOTSTRAP BUTTON */
.btn.linkedInBtn{
    border-radius: 0;
}
/* 
SCROLL MODAL
210px -> sum of: modal header, modal footer, top and bottom space between modal and window borders.  */
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

