/* .table tr:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.applications-table{
    margin : 10px;
    padding : 10px;
}

.applications-table tr{
    padding : 0.5em;
    margin : 0.5em;
} */